body{
    background-image: url(/assets/background.jpg);
    background-size: 1920px;

}
p{
    font-size: x-large;
    align-items: center;
    text-align: left;
    width: 50rem;
}
.center-item{
    display: flex;
    justify-content: center;
}