body{
    background-image: url(/assets/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}
p{
    font-size: x-large;
    align-items: center;
    text-align: left;
    width: 50rem;
}
.center-item{
    display: flex;
    justify-content: center;
}
img{ 
    width: 200px;
}

.img-con {
    display: flex;
    justify-content: space-evenly;
}